.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;

  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
      display: center;
      justify-content: center;
      white-space: nowrap;
    }

    #logo{
      font-size: 2rem;
      color: black;
      padding-top: .8rem;
      padding-left: 1rem;
      font-weight: bold;
    }
  
    .links-container {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      box-sizing: border-box;
      padding: 25px;
      white-space: nowrap;
  
      .link {
        padding: 30px 15px;
        cursor: pointer;
        color: black;
        padding: 10px;
        font-weight: bold;
      }
    }
  }
  