.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 700px){
     display: flex;
     flex-direction: column;
     margin-bottom: 2rem;
     height: 30px;
     justify-content: center;
     align-items: center;
    }

  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
      display: center;
      justify-content: center;
      white-space: nowrap;

      @media (max-width: 700px){
        display: flex;
        justify-content: center;
        align-items: center;
       }
    }

    #logo{
      font-size: 2rem;
      color: black;
      padding-top: .8rem;
      padding-left: 1rem;
      font-weight: bold;
      font-family: 'Cormorant SC', serif;

      @media (max-width: 700px){
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top: 2rem;
     }
    }
  
    .links-container {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      box-sizing: border-box;
      padding: 25px;
      white-space: nowrap;

      @media (max-width: 700px){
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-bottom: 1rem;
       }
   
  
      .link {
        padding: 30px 15px;
        cursor: pointer;
        color: black;
        padding: 10px;
        font-weight: bold;
      }
    }
  }
  