.sign-in-container{
    display: flex;
    flex-direction: column;
    width: 380px;
    padding: 4rem;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

h2{
    margin: 10px 0;

    @media (max-width: 850px){
        margin: 0px;
       }
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}

#google-button{
    margin-left: 1rem;
}