.category-container {
  min-width: 30%;
  height: 350px;
  width: 250px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 7.5px 15px;
  overflow: hidden;
  margin-top: 5rem;
  background-color: #F78764;
  cursor: pointer;

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .category-body-container {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-weight: bold;
      margin: 0 6px 0;
      font-size: 25px;
      color:white;
    }
  }
}